header{
    
    .logo{
        margin: 0;
    }

    h1{ 
        padding-top: 50px ;
        font-size: 50px;
        margin: 10px 480px;
        color: $primary-color;
    }

    nav{
        z-index: 1;
        color: white;
        font-size: 15pt;
        position: fixed;
        top: 0px;
        right: 10px;
        padding: 0px;
        border-radius: 0 0 9px 9px;
        height: 40px;
        background-color: rgb(37, 36, 46);

        a li{
            color: white;
            display: inline;
            font-size: 15px;
            padding: 0px 5px;
            margin: 0px 15px;
        }

        li:hover{
            color: rgb(151, 151, 241);
        }
    } 
}

    

        